<section id="sideBar">
  <ul class="d-flex links-social">
    <li>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </li>
  </ul>
  <!-- search form -->
  <form class="d-flex">
    <input class="" type="search" placeholder="Search" aria-label="Search" />
    <button class="" type="submit">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </form>
  <a href="#" class="btn d-block btn_cs mt-3">
    Departments, School & Colleges <br />
    <i class="fa-solid fa-share-from-square"></i>
  </a>
  <ul class="quickLinks">
    <h2>Quick Links</h2>
    <li>
      <i class="fa-solid fa-angle-right"></i> <a href="#">Teaching Resources</a>
    </li>
    <li><i class="fa-solid fa-angle-right"></i> <a href="#">News</a></li>
    <li><i class="fa-solid fa-angle-right"></i> <a href="#">Contact Us</a></li>
    <li>
      <i class="fa-solid fa-angle-right"></i>
      <a href="#">York Teaching Commons</a>
    </li>
  </ul>
  <a href="#" class="btn btn_cs"> LA&PS Intranet </a>
  <div class="text-center mt-5">
    <a href="#" class="btn btn_cs"> Admin Login to Update</a>
  </div>
</section>
