<section id="sideBar">
  <ul class="d-flex links-social">
    <li>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </li>
  </ul>
  <!-- search form -->
  <form class="d-flex">
    <input class="" type="search" placeholder="Search" aria-label="Search" />
    <button class="" type="submit">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </form>

  <ul class="quickLinks">
    <h2>Quick Links</h2>
    <li>
      <i class="fa-solid fa-angle-right"></i> <a href="#">Teaching Resources</a>
    </li>
    <li><i class="fa-solid fa-angle-right"></i> <a href="#">News</a></li>
    <li><i class="fa-solid fa-angle-right"></i> <a href="#">Contact Us</a></li>
    <li>
      <i class="fa-solid fa-angle-right"></i>
      <a href="#">York Teaching Commons</a>
    </li>
  </ul>
</section>
