<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row m-0">
        <div class="col-lg-4">
          <h2>
            <a href="#">Faculty of Liberal Arts & Professional Studies</a>
          </h2>
          <p>4700 Keele Street Ross Building, S900 Toronto, ON M3J 1P3 Map</p>
        </div>
        <div class="col-lg-4">
          <h2>
            <a href="#">Contact Us</a>
          </h2>
          <p>
            Telephone: 416-736-5220 <br />
            Fax: 416-736-5750
          </p>
        </div>
        <div class="col-lg-4">
          <h2>
            <a href="#">Academic Advising</a>
          </h2>
          <p>
            New students: 416-736-5011 <br />
            Current students: 416-736-5222 <br />
            Email: <a href="mailto:laps@yorku.ca">laps@yorku.ca</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row m-0">
        <div class="col-lg-3">
          <ul class="p-0">
            <li><b>Keele, Glendon and Markham Campus</b></li>
            <li><a href="#">Contact</a></li>
            <li><a href="tel:(416) 736-2100">(416) 736-2100</a></li>
            <li><a href="#">Campus Maps</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul class="p-0">
            <li><a href="#">Community Safety</a></li>
            <li><a href="#">Privacy & Legal</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
