$main_color: #016944;
.main_sec {
  padding: 20px 0;
  .title_name {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(0, 74, 141);
    margin: 0;
  }
}

.t_link {
  font-size: 17px;
  color: $main_color;
}
p {
  font-size: 17px;
}

.border-1 {
  padding: 5px;
  border: 1px solid #cacaca;
  width: 110px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 50%;
}
