<section class="main_sec">
  <h2 class="title_name">Ibrahim Hamid Badr</h2>
  <a href="#" class="t_link">Department of French Studies</a>

  <div class="designation py-3">
    <p class="m-0">Associate Professor</p>
  </div>
  <div class="information">
    <p class="m-0"><b>Office:</b> Ross Building, N735</p>
    <p class="m-0"><b>Phone:</b> (416) 736-2100 Ext: 77067</p>
    <p class="m-0">
      <b>Email: </b>
      <a href="mailto:ibadr@yorku.ca" class="t_link">ibadr@yorku.ca</a>
    </p>
  </div>
</section>
<div class="tabination">
  <mat-tab-group>
    <mat-tab label="Overview">
      <h2 class="mb-0"><b>Degrees</b></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure est,
        sint ab minima dicta molestias cum quod itaque dolorem facilis nulla,
        quaerat ex labore vero doloremque maiores mollitia magni. Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Distinctio magni veniam
        obcaecati accusamus, asperiores, ducimus minus rem explicabo aliquid
        quia mollitia magnam vel esse nobis sunt aliquam temporibus voluptate.
        Labore?
      </p>
      <h2 class="mb-0"><b>Degrees</b></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure est,
        sint ab minima dicta molestias cum quod itaque dolorem facilis nulla,
        quaerat ex labore vero doloremque maiores mollitia magni. Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Distinctio magni veniam
        obcaecati accusamus, asperiores, ducimus minus rem explicabo aliquid
        quia mollitia magnam vel esse nobis sunt aliquam temporibus voluptate.
        Labore?
      </p>
    </mat-tab>
    <mat-tab label="Publications">
      <mat-tab-group>
        <mat-tab label="Books">
          <h2 class="mb-0"><b>Degrees</b></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure
            est, sint ab minima dicta molestias cum quod itaque dolorem facilis
            nulla, quaerat ex labore vero doloremque maiores mollitia magni.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
            magni veniam obcaecati accusamus, asperiores, ducimus minus rem
            explicabo aliquid quia mollitia magnam vel esse nobis sunt aliquam
            temporibus voluptate. Labore?
          </p>
          <h2 class="mb-0"><b>Degrees</b></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure
            est, sint ab minima dicta molestias cum quod itaque dolorem facilis
            nulla, quaerat ex labore vero doloremque maiores mollitia magni.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
            magni veniam obcaecati accusamus, asperiores, ducimus minus rem
            explicabo aliquid quia mollitia magnam vel esse nobis sunt aliquam
            temporibus voluptate. Labore?
          </p>
        </mat-tab>
        <mat-tab label="Articles"> Articles </mat-tab>
        <mat-tab label="Papers/Reports"> Papers/Reports </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Teaching"> Content 3 </mat-tab>
    <mat-tab label="Full Profile"> Content 4 </mat-tab>
  </mat-tab-group>
</div>
