.red-bar {
  background-color: #016944 !important;
  h2 {
    color: white;
    font-size: 1.2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .pad {
    padding: 12px 0;
  }
}
